<div>
  {{input value=searchQuery insert-newline="search"}}
  <button {{action "search"}}>search</button>
</div>

{{#each images as |image|}}
<p>
  <img src={{image.url}} width="350" /><br />
  {{#each image.tags as |tag|}}
    {{tag}}, 
  {{/each}}
</p>
{{/each}}
